<img src="assets/images/burger.jfif" alt="Burger">

<h1>Eat-Da-Burger</h1>

<div id="inputText">
    <form>
        <input type="text" name="Message" id="message"><br>
        <br>
        <input type="submit" value="Submit" id="submit"><br>
    </form>
</div>

