<img src="assets/images/burger.jfif" alt="Burger">

<h1>Eat-Da-Burger</h1>

<div id="inputText">
    <form>
        <input type="text" name="Message" id="message"><br>
        <br>
        <input type="submit" value="Submit" id="submit"><br>
    </form>
</div>

<h2>Not devoured</h2>
<ol>
  {{#each burger}}
    {{#unless devoured}}
    <li>{{burger_name}}</li>
      <button type="submit" class="devour">Devour it!</button>
    {{/unless}}
  {{/each}}
</ol>

<h2>Devoured</h2>
<ol>
  {{#each burger}}
    {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}}
  {{/each}}
</ol>